body {
  height: 100%;
  background: url('../images/Layer%2012.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: left top;
  font-size: 1em;
}

.container {
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 568px;
  height: 452px;
  margin: 0 auto;
}

.image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  bottom: 110px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 137px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}

.image-1 {
  top: 0;
  z-index: 1;
  width: 13%;
}

.image-2 {
  top: 199px;
  width: 100%;
}